%h2 個数による価格表
%p 初:初期価格
%p 最:最高額
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr.success
      %th{ rowspan: 2}
        品目
      - 1.upto(10) do |i|
        %th{ colspan: 2 }
          = i
    %tr.success
      - 1.upto(10) do |i|
        %th
          初
        %th
          最

  %tbody
    - @items.each do |item|
      %tr
        %td
          = item.name
        - 1.upto(10) do |i|
          - if i % 2 == 0
            %td.warning
              = (item.price * i).floor
            %td.warning
              = (item.max_price * i).floor
          - else
            %td
              = (item.price * i).floor
            %td
              = (item.max_price * i).floor

